/* Animation du loader */

#loader {
  position: absolute;
  left: 49%;
  top: 40%;
  z-index: 1;
  width: 175px;
  height: 175px;
  margin: -76px 0 0 -76px;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 18px solid #9356dc;
  border-bottom: 18px solid #ff79da;
  background: $colorloader;
  animation: spin 2s linear forwards;
}

/* Animation de page */

.animation-loader {
  animation: animationloader 2.5s ease-in-out;
}
