/* Animation Coeur */

@keyframes coeur-anim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
    fill: transparent;
    stroke: transparent;
  }

  100% {
    fill: url(#MyGradient);
    transform: scale(1.05);
    stroke: transparent;
  }
}
/* Animation Lancement Page Restau */

@keyframes anim-launch {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 2 to 4 {
  .delay-#{$i} {
    animation-delay: #{calc($i / 3)}s;
  }
}

/* Animation Loader */

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1.5);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
}

@keyframes animationloader {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
